__ITERATION=$1

BASE_DIR=/corona/sim/cosi
RUN_DIR="`pwd`/fioss/"

EXE_DIR="${RUN_DIR}/cosi515fmht2_exe"

ORIG_COSI="`pwd`/hminus/IT${__ITERATION}"
ORIG_EXE="${HOME}/svnroot/cosi/branches/ams-cosi/out-intel-x86_64-fioss8/"
FIOSS_SRC="${HOME}/svnroot/cosi/branches/micha-cosi/cosi/"

CROSS_SECTION_FILES="${BASE_DIR}/input/cross_sections/002/"
VELO_FILE="${BASE_DIR}/input/velo/velo_2"
INPUT_SUN_FILE="${BASE_DIR}/input/input_sun/sunHHe10K10N10Th_PF2.inp5"
INPUT_STARK_BROAD="${BASE_DIR}/input/linelist/002/"
UVVISIR_FILE="${BASE_DIR}/input/linelist/kurucz_comb_air_parts/"
MOLECULES="/corona/sim/cosi/input/linelist/molecules/Kurucz/ASC/CONVERTED/Molec"
CHEMISTRY="${BASE_DIR}/input/chemistry/chem.in"

OUTPUT_DIR=${RUN_DIR}/IT${__ITERATION}

